<!-- Info Section -->
<section class="grid gap-y-10 py-5">

  <div class="flex gap-x-3">
    <h3 class="text-lg font-semibold line-clamp-2">{{ communityName }}</h3>
    <button class="ml-auto">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-circle-ellipsis-icon lucide-circle-ellipsis text-primary">
        <circle cx="12" cy="12" r="10" />
        <path d="M17 12h.01" />
        <path d="M12 12h.01" />
        <path d="M7 12h.01" />
      </svg>
    </button>
  </div>

  <div class="grid grid-cols-2 gap-x-3">
    <a routerLink="../telefonos"
      class="px-4 w-full h-32 rounded-lg flex flex-col justify-center gap-y-2 items-center bg-white/10 hover:bg-white/15 transition duration-300 text-center">

      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-phone-icon lucide-phone text-primary">
        <path
          d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384" />
      </svg>

      <p class="text-sm">Teléfonos de emergencia</p>
    </a>

    <button type="button"
      class="px-4 w-full h-32 rounded-lg flex flex-col justify-center gap-y-2 items-center bg-white/10 hover:bg-white/15 transition duration-300 text-center">

      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-map-pin-icon lucide-map-pin text-primary">
        <path
          d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
        <circle cx="12" cy="10" r="3" />
      </svg>

      <p>Ubicación</p>
    </button>
  </div>

  @for (section of memberSections; track section.title) {
    <div class="grid">
      <!-- Role -->
      <h5 class="text-sm uppercase font-semibold text-primary tracking-widest mb-2">{{ section.title }}</h5>

      <!-- Members List -->
      @for (member of section.members; track member.id) {
        <button class="py-3 text-start flex items-center gap-x-3 hover:bg-white/10">
          <div class="size-8 min-w-8 rounded-full bg-gray-200 overflow-hidden">
            @if (member.avatar) {
              <img [src]="member.avatar" [alt]="member.name" class="w-full h-full object-cover" />
            }
          </div>
          <div class="w-full">
            <p class="text-sm">{{ member.name }}</p>
            <p class="text-xs uppercase text-white/60">{{ member.role }}</p>
          </div>
        </button>
      }
    </div>
  }

</section>
<!-- End Info Section -->

