<!-- General Section -->
<section class="grid gap-y-10 py-5 w-full">

  <!-- Alertas de Emergencia -->
  <div class="max-w-full">
    <div class="flex items-center mb-5">
      <!-- Title -->
      <h2 class="text-xl font-medium ">Alertas de Emergencia</h2>
      <a href="/comunidad/:id/alertas"
        class="ml-auto bg-primary text-black px-3 py-2 text-xs uppercase font-semibold rounded-full tracking-widest">VER
        MÁS</a>
    </div>

    <!-- Grid Posts -->
    <div class="">
      @for (alert of alerts; track alert.id) {
        <component-citizen-alerts-card [alert]="alert" />
      }
    </div>
  </div>


  <!-- Separador -->
  <div class="h-px w-full bg-white/60"></div>


  <!-- Publicaciones recientes -->
  <div class="max-w-full grid">
    <!-- Title -->
    <div class="flex items-center gap-x-5 mb-5">
      <!-- Title -->
      <h2 class="text-xl font-medium line-clamp-1">Publicaciones de la comunidad</h2>
      <a href="/comunidad/:id/publicaciones"
        class="ml-auto bg-primary text-nowrap text-black px-3 py-2 text-xs uppercase font-semibold rounded-full tracking-widest">
        ver MÁS</a>
    </div>

    <!-- Grid Posts -->
    <div class="flex gap-x-5 overflow-x-auto scrollbar-hide">
      @for (post of posts; track post.id) {
        <component-citizen-posts-card [post]="post" class="min-w-[18rem] max-w-[18rem]" />
      }
    </div>
  </div>


  <!-- Separador -->
  <div class="h-px w-full bg-white/60"></div>


  <!-- Noticias recientes -->
  <div class="max-w-full grid ">
    <!-- Title -->
    <div class="flex items-center mb-5">
      <!-- Title -->
      <h2 class="text-xl font-medium">Noticias recientes</h2>
      <a href="/comunidad/:id/noticias"
        class="ml-auto bg-primary text-nowrap text-black px-3 py-2 text-xs uppercase font-semibold rounded-full tracking-widest">
        ver MÁS</a>
    </div>

    <!-- Grid News -->
    <div class="flex gap-x-5 overflow-x-auto scrollbar-hide">
      @for (newsItem of news; track newsItem.id) {
        <component-citizen-news-card [news]="newsItem" class="min-w-[18rem] max-w-[18rem]" />
      }
    </div>
  </div>


</section>
<!-- End General Section -->
