@import "tailwindcss";
@import "../node_modules/preline/variants.css";

@source "../node_modules/preline/dist/*.js";

@plugin "@tailwindcss/forms";

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@custom-variant hover (&:hover);


@theme {

  --font-primary: "Inter", sans-serif;

  --color-primary: #d5e301;
  /* --color-primary-light: #75b37f; */
  /* --color-primary-dark: #396f42; */

}

* {
  @apply [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar]:h-2
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-gray-300;
}

:root {
  @apply font-primary bg-black/90 text-white;
}
