@import "tailwindcss";
@import "../node_modules/preline/variants.css";

@source "../node_modules/preline/dist/*.js";

@plugin "@tailwindcss/forms";

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@custom-variant hover (&:hover);


@theme {

  --font-primary: "Inter", sans-serif;

  --color-primary: #d5e301;
  --color-secondary: #3d3d3d;
  /* --color-primary-light: #75b37f; */
  /* --color-primary-dark: #396f42; */

}

* {
  @apply [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar]:h-2
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-gray-300;
}

/* Ocultar scrollbar en navegadores Webkit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en Firefox */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE y Edge */
}

:root {
  @apply font-primary bg-black/90 text-white;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 30px #d5e301
  }

  50% {
    box-shadow: 0 0 80px #d5e301
  }

  100% {
    box-shadow: 0 0 30px #d5e301
  }
}

.alert-button {
  transition: all .3s ease;
}

.pulse {
  animation: pulse 3s infinite ease-in-out
}
